<div id="lifecycle-wrapper" class="bg-gray-100 border border-gray-300 p-4 rounded-lg shadow-md">
    <div class="flex items-center justify-center">
        <div class="text-2xl font-bold text-green-600">{{ order_status|replace({'wc-': '', '-': ' '})|capitalize }}</div>
    </div>
    <script id="lifecycle-order-state" type="application/json">
        {
            "status": "{{ order_status|replace({'wc-': ''}) }}",
            "order_id": "{{ order_id }}",
            "customer_name": "{{ order.get_formatted_billing_full_name() }}",
            "total": "{{ order.get_formatted_order_total() }}",
            "date": "{{ order.get_date_created().date('Y-m-d H:i:s') }}"
        }
    </script>
</div>
